
/*-----------------------------INICIO FORMATAÇÕES GERAIS-----------------*/
*{
	margin: 0;
	padding: 0;
}

html #menu{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #0e131f url(../imagens/fundo.png)repeat-x;
}


html #amuletos{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #16112b url(../imagens/fundo-amuletos.png)repeat-x;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
  text-decoration: none;  /*RETIRA O _ DO LINK*/
}
/*------------------------------FIM DAS FORMATAÇÕES GERAIS------------------*/

/*-----------------------------INICIO FORMATAÇÕES GERAIS DO SITE-----------------*/
#principal{ /*ou principal eh a div que tem as config principais*/
	width: 950px;
	margin: 0 auto; /*centraliza*/
	/*border:1px solid red;*/
}

#topo{
	margin-top: 15px;
	height: 250px;
/*	border: 1px solid red;*/
	padding-top: 25px;
	background: url(../imagens/logo.png) no-repeat center -157px ;
}

/*-----------------------------FIM DAS FORMATAÇÕES GERAIS DO SITE-----------------*/


/*-----------------INICIO FORMATAÇÃO DOS BOTÕES HORIZONTAIS TOPO---------------------*/
/*OBS: PARA A CRIAÇÃO DE BOTÕES VERTICAIS, APENAS FLOAT LEFT NO UL E LI NESTA SEQUENCIA*/
#topo ul{
	margin-top: 115px;
	margin-left: 30.3%;	/*MOVIMENTA O FLOAT DA ESQUERDA PARA A DIREITA*/
	background: #0b0f2c;
	float: left;
	border-radius: 20px; /*ARREDONDA A BORDA EM 20PX*/
}

#topo li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block; /*MUDA A FORMATAÇÃO DO LINK DE INLINE PARA BLOCK*/
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	color: #fff;
	border-radius: 20px;  /*ARREDONDA A BORDA EM 20PX*/
}

#topo ul a:hover{ /*CONFIGURAÇÃO PARA QUANDO PASSAR O MOUSE POR CIMA DOS BOTÕES OU LINKS */
	background: #445697;
	border: 1px solid #6f90de;
	background: #445697 url(../imagens/select.png)no-repeat left;
	text-indent: 25px;
}

/*----------------------FIM DA FORMATAÇÃO DOS BOTÕES HORIZONTAIS TOPO-----------------------------*/

/*------------------CAIXA--------------------*/
.caixa{
	margin: 4px 0;
	padding: 5px;
}
/*------------------FIM CAIXA-------------------*/


/*---------INCIO FORMATAÇÃO DO CONTEUDO LATERAIS------*/
.lateral{
	/*border: 1px solid yellow;*/
	width: 180px;
	margin-top: -50px;
	float: left;
	/*margin: 0 0 20px -750px;*/
	/*background: yellow;*/
}

.lateral h2{
	font-size: 1.4em;
	border: 1px solid #6f90de;
	width: 125px;
	line-height: 40px;
	background: #0b0f2c;
	color: white;
	text-align: center;
	border-radius: 5px;
	margin-left: 17px;
}

.lateral ul a{
	width: 120px;
	background: #44557e;
	color: white;
	text-align: center;
	margin: 5px;
	font-size: 0.9em;
	padding: 3px;
	border-radius: 5px;
	line-height: 30px;
	display: block;
}

.lateral ul a:hover{ /*CONFIGURAÇÃO PARA QUANDO PASSAR O MOUSE POR CIMA DOS BOTÕES OU LINKS */
	background: #445697 url(../imagens/select.png)no-repeat left;
	text-indent: 25px;
	border: 1px solid #6f90de;
}

.caixa-conteudo{
	margin-left: 13px ;
}
/*---------FIM FORMATAÇÃO DO CONTEUDO LATERAIS------*/

/*---------INCIO FORMATAÇÃO DO CONTEUDO CENTRO------*/
#centro{
	margin: 15px;
	border: 0.5px solid #6f90de;
	width: 554px;
	margin-top: -50px;
	background: url(../imagens/fundo2.png);
	border-radius: 15px;
	float: left;
}

#centro .img{
	margin-top: 25px;
 	margin-left: 215px;
 	margin-bottom: 30px;
}

#centro .img-gruz{
	margin-top: 25px;
	margin-bottom: 30px;
 	margin-left: 115px;
}

#centro .img-wandering{
	margin-top: 25px;
	margin-bottom: 30px;
 	margin-left: 235px;
}

#centro .img-vegenflyk{
	margin-top: 25px;
	margin-bottom: 30px;
 	margin-left: 175px;
 	width: 190px;
}

#centro .img-cornifer{
	margin-top: -15px;
	margin-bottom: 14px;
 	margin-left: 4.7em;
}

#centro .img-hornet{
	margin-top: 14px;
	margin-bottom: 12px;
 	margin-left: 10.7em;
}

#centro .img-knight{
	margin-top: 15px;
	margin-bottom: 14px;
 	margin-left: 14.9em;
}

#centro .img-salubra{
	margin-top: 15px;
	margin-bottom: 14px;
 	margin-left: 6.9em;
}

#centro .img-iselda{
	width: 280px;
	margin-top: 15px;
	margin-bottom: 14px;
 	margin-left: 8.9em;
}


#centro .img-sly{
	margin-top: 25px;
 	margin-left: 215px;
 	margin-left: 14.7em;
 	margin-bottom: 30px;
}

#centro .img-stag{
	width: 320px;
	margin-top: 15px;
	margin-bottom: 14px;
 	margin-left: 5.9em;
}

#centro h3{
	border-bottom: 4px solid #6F6E6E;
	color: #2E323F;
	text-align: center;
	background: #fff;	
	margin-right: 245px;
	margin-left: 245px;
	margin-bottom: 5px;
	border-radius: 20px;
}

#centro h2{
	margin-right: 185px;
	margin-left: 185px;
	/*border: 1px solid #cad0fc;*/
	background: #0c1030;
	border-radius: 17px;
	text-transform: uppercase;
	color: #dde0f8;
	text-align: center;
}

#centro .diabo{
	color: #ff0000;
}

 #tabela th{
 	background: #0e131f;
 	color: white;
 	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
}

#tabela  td{
	text-align: center;
	color: #b4b9de;
	background: #44557e;
	border: 3px solid #283452;
	padding: 5px;
	font-size: 0.8em;
	border-radius: 10px;
	/*margin: 50px;*/
}

#tabela th:hover,
#tabela td:hover{
	background: #7285b3;
}
/*---------FIM FORMATAÇÃO DO CONTEUDO CENTRO------*/


/*------------------MARCANDO A PAGINA--------------------*/

 #menu  .navegacao .selecionado a,
 #amuletos .navegacao .selecionado a{
	background: #445697;
	border: 1px solid #6f90de;
	background: #445697 url(../imagens/select.png)no-repeat left;
	text-indent: 25px;
}
/*------------------FIM DO MARCANDO A PAGINA--------------------*/


/*-------AJUSTES TABELA NPCS----------*/
#tabela .tabela-npcs th{
	width: 40px;
}

#tabela .tabela-npcs td{
	font-size: 0.6em;
}
/*-------AJUSTES TABELA NPCS----------*/

/*-------FORMATANDO TABELA AMULETOS----------*/
#amuletos #principal h2{
	margin-top: -45px;
	margin-bottom: 20px;
	text-align: center;
	background: red;
	margin-right: 405px;
	margin-left: 405px;
	border-bottom-left-radius: 45px;
	border-top-right-radius: 45px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #292426;
	background: #f5e1e7;
}

#caixa-amuletos{
	width: 700px ;
	margin:0 auto;
	border-radius: 25px;
	background: url(../imagens/fundo-grim.png);
}
#caixa-amuletos table {
  border-collapse: separate; 
  border-spacing: 10px 30px ; /*ABRE UM ESPAÇAMENTO NA TABELA EM TUDO TH TD TR ETC*/
 /* margin: 0 0 0 0;*/
}

#caixa-amuletos th{
	text-transform: uppercase;
	color: #292426;
	border: 1px solid #d53b6a;
	line-height: 2.6em; 
	border-radius: 25px;
	background: #f5e1e7;
	letter-spacing: 1px;
}

#caixa-amuletos td{
	padding:  10px;
	border-bottom: 3px solid #ffb03e;
	border-radius: 25px;
}

#caixa-amuletos table tr{
	border: 1px solid yellow;
}

#caixa-amuletos td:hover{
	background: #ffb03e;
}
/*-------FIM FORMATAÇÃO TABELA DE AMULETOS----------*/

/*-------INICIO FORMATAÇÃO BARRA DE DIREITOS--------------------*/

.barra-direitos {
		/*background-color: #44557e;*/
		background-image: linear-gradient(#192237, #546da9);
		opacity: 0.8;
        bottom:0em;
        position: fixed;
        width: 100%;
        text-align: center;
        padding: 5px;
        color:#ffff;
    }

.barra-direitos-amuletos {
	    background-image: linear-gradient(#851738, #26122d);
	   	opacity: 0.8;
        bottom:0em;
        position: fixed;
        width: 100%;
        text-align: center;
        padding: 5px;
        color:#ffff;
    }

/*-------FIM FORMATAÇÃO BARRA DE DIREITOS--------------------*/
 	